<ion-header>
 
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mon Profile</ion-title>

  </ion-navbar>
 
</ion-header>
 
 
<ion-content padding>

 <div class="login-box" >
    <form (ngSubmit)="updateUser()" #registerForm="ngForm">
      <ion-row>
      <ion-col width-20></ion-col>
        <ion-col with-60>
          
          <ion-list inset *ngIf="people">

          	<ion-item>
          		<ion-avatar item-left>
              		<img [src]="base64Image" *ngIf="base64Image" (click)=" presentActionSheet()"/>
              	</ion-avatar>
            </ion-item>

          	<ion-item>
              <ion-input type="text" placeholder="Nom" name="nom" [(ngModel)]="registerCredentials.nom"   required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="prenom" name="prenom" [(ngModel)]="registerCredentials.prenom"  required></ion-input>
            </ion-item>
           
          </ion-list>

        </ion-col>
        <ion-col width-20></ion-col>
      </ion-row>
      
      <ion-row>
      	<ion-col width-20></ion-col>
        <ion-col width-60 class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid"> Garder</button>
        </ion-col>
        <ion-col width-20></ion-col>
      </ion-row>
      
    </form>
  </div>

</ion-content>
